/*
Assignment 3
Problem 2

Name:Khaled Mosel Alkerithi
Date:23/10/2021

File name: Csstxt.css
Supporting files: news.html, image1.gif, image2.gif, image3.gif, image4.gif, image5.gif, image6.gif, ribbon.gif
*/

body{color: black;background-color: rgb(204, 204, 153);margin: 0em;font-family: 'Courier New', Courier, monospace;text-decoration: bold ;text-align: justify; font-size: 20px;}

#ribbon{float: left;border-right: 7px double;}

#pageContent{width: 50em;margin-left: 100px; padding-left: 20px;}

h1{font-family: Arial, Helvetica, sans-serif;font-size: 1.5em; kerning: 0.5em; text-align: center;padding: 0.2em; color: rgb(204, 204, 153);background-color: rgb(102, 102, 204);}

address{font-style: normal;text-align: center;text-transform: uppercase;color: rgb(102, 102, 204); border-top: 0.1em rgb(102, 102, 204) solid;}